*   {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: lavenderblush;
    background-image: url(leaves.png);
    background-blend-mode:lighten;
    background-size: cover;
    background-position: inherit;
}

header {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    padding: 32px; 
    background-color: lightcoral;
    
    color: ivory;
    font-family:Garamond;
    font-weight: lighter;
        
}

.nav-links {   
    background-color: lightcoral;
    padding: 5px;
    height: 20px;
    font-size: 20px;
    font-family: Garamond;
    color: limegreen;
    font-weight: bold;
}
ul{
    list-style: none;
}

a{
    list-style-type: none;
    color: whitesmoke;
   
}
a.about-me {
    
    background-color: lightcoral;
    padding: 15px;

    position: absolute;
    right: 30px;
    top: 200px;
}
a.recent-work {
    
    background-color: lightcoral;
    padding: 15px;
    position: absolute;
    right: 100px;
    top: 300px;
}
a.contact-me {
    background-color: lightcoral;
    padding: 15px;
    padding-left: 22px;
    position: absolute;
    right: 200px;
    top: 400px;
}
a.contact-me:hover {
    background-color: lightpink;
    transition: background-color .5s;
   
}
a.about-me:hover {
    background-color: lightpink;
    transition: background-color .5s;

}
a.recent-work:hover {
    background-color: lightpink;
    transition: background-color .5s;
}

.clear
{
    inline-size: 100%;
    clear: both;
}

.self-image img {
    top: 30px;
    height: 250px;
    width:250px;
   /* This is what makes the image a circle */
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative;
    float: left;
    left: 5%; 
}
div.break {
    right: 0;
    left: 0;
    height: 500px;
}
@media only screen and (max-widht:750px) {
    body {
        max-width: 750px;
    }
}